:root {
    --gap: 10px;
    --border-radius: 10px;
    --border-radius-print: 1vw;
    --blur: 0px;
    --blur-print: 0vw;
    --background-color: #000000;
    --accent-text-color: #ffffff;
    --height: 100vw;
    --opacity: 0.9;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    overflow: hidden;
    background-color: #121212;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    background: #121212;
    max-width: 20px;
    max-height: 20px;
}

body::-webkit-scrollbar-corner,
div::-webkit-scrollbar-corner {
    background: #121212;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 5px solid #121212;
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
    background-color: #cecece;
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:active,
div::-webkit-scrollbar-thumb:active {
    background-color: #9d9d9d;
    border-radius: 100vw;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

input[type="file"] {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

input[type="color"] {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#colorDisplay {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    margin-left: auto;
    background-color: var(--background-color);
}


.typeLabel {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    background-color: #242424;
    border-radius: 10px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.typeLabel[hoverEffects="true"]:hover {
    background-color: #303030;
    border-color: #303030;
}

.typeLabel[hoverEffects="true"]:focus-within {
    background-color: #303030;
    border-color: #303030;
}

.typeLabel[hoverEffects="true"]:active {
    background-color: #363636;
    border-color: #363636;
}

.customSelect {
    outline: none;
    border-width: 0;
    border-right-width: 20px;
    border-color: #242424;
    width: calc(100% - 20px);
    font-size: 18px;
}

.printButton {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #0049b0;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    outline: none;
    border-width: 0;
    width: calc(100% - 20px);
    font-size: 18px;
}

.clear {
    border-width: 0 !important;
    background-color: #622c2c !important;
}

.clear:hover {
    background-color: #5e1a1a !important;
}

.clear:focus {
    background-color: #5e1a1a !important;
}

.clear:active {
    background-color: #550000 !important;
}

.printButton:hover {
    background-color: #003c91;
}

.printButton:focus {
    background-color: #003c91;
}

.printButton:active {
    background-color: #00347d;
}

.rangePicker {
    margin-left: 20px;
    margin-right: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #303030;
    border-radius: 100vw;
    outline: none;
    transition: background-color 0.2s ease;
}

input[type="range"]:hover {
    background-color: #363636
}

input[type="range"]:focus {
    background-color: #363636
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999999;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999999;
    cursor: pointer;
}

.resetRange {
    outline: none;
    border: none;
    background: none;
    color: white;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

.resetRange:hover {
    color: #c2c2c2;
}

.resetRange:focus {
    color: #c2c2c2;
}

.resetRange:active {
    color: #9f9f9f;
}

.settingsAndTimetable {
    display: flex;
}

.settings {
    flex-grow: 1;
    min-width: 400px;
    position: relative;
    height: calc(var(--height) - 1px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.background {
    position: absolute;
    z-index: -1;
    width: 1000px;
    aspect-ratio: 297 / 210;
    object-fit: cover;
}

.wrapper {
    width: 1000px;
    aspect-ratio: 297 / 210;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable {
    max-height: calc(var(--height) - 1px);
    overflow: auto;
    overflow: overlay;
}

.row {
    display: flex;
    gap: var(--gap);
    margin-bottom: var(--gap);
}

.row[show="false"] {
    display: none;
}

.row:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 12px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1px;
    height: 8px;
    border-radius: 100vw;
    opacity: 1;
    transition: opacity 0.2s ease;
    background-color: black;
}

input[type="checkbox"]:checked::before {
    opacity: 0;
}

.box {
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transition: border-radius 0.2s ease, background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.box[background-white="false"] {
    background-color: var(--background-color);
    color: var(--accent-text-color);
}

.box[background-white="true"] {
    background-color: hsla(0, 100%, 100%, var(--opacity));
    backdrop-filter: blur(var(--blur));
    outline: 1px solid black;
}

.box[column="1"] {
    width: 80px;
}

.box[column="2"] {
    width: 150px;
}

.box[row="1"] {
    height: 35px;
}

.box[row="2"] {
    height: 65px;
}

.box[background-white="true"]>div {
    width: 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.box[background-white="true"]>input {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.box[two-subjects="true"]>div:nth-child(2) {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.box[two-subjects="true"]>div:nth-child(3) {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.box[two-subjects="false"]>div {
    border-radius: var(--border-radius);
}

.box[row="2"][column="1"] {
    line-height: 140%;
}

.box[row="2"][column="1"]::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--accent-text-color);
    transition: background-color 0.2s ease;
    border-radius: 100vw;
}

.box[two-subjects="false"]>div:nth-child(3) {
    display: none;
}

.box[two-subjects="true"]::before {
    content: "";
    position: absolute;
    height: 65px;
    width: 0.5px;
    background-color: #000000;
}

.box[two-subjects="true"]>div {
    flex: 1 1 0px;
}

.box[column="2"][row="2"] {
    font-size: 11px;
}



@media print {
    .timetable {
        max-height: initial;
    }

    input[type="checkbox"] {
        display: none;
    }

    .settings {
        display: none;
    }

    .typeLabel {
        display: none;
    }

    .settingsAndTimetable {
        display: initial;
        width: 100vw;
        height: 100vh;
    }

    .background {
        width: 100vw;
        height: 100vh;
        aspect-ratio: unset;
    }

    .wrapper {
        width: 100vw;
        height: 100vh;
        aspect-ratio: unset;
    }

    .box {
        border-radius: var(--border-radius-print);
    }

    .box[background-white="true"] {
        outline: 0.1vw solid black;
        backdrop-filter: blur(var(--blur-print));
    }

    .box[column="1"] {
        width: 8vw;
    }

    .box[column="2"] {
        width: 15vw;
    }

    .box[row="1"] {
        height: 3.5vw;
    }

    .box[row="2"] {
        height: 6.5vw;
    }

    .box[row="2"][column="1"]::after {
        content: "";
        position: absolute;
        width: 4vw;
        height: 0.1vw;
        background-color: var(--accent-text-color);
        border-radius: 100vw;
    }

    .box[two-subjects="false"]>div:nth-child(3) {
        display: none;
    }

    .box[two-subjects="true"]::before {
        content: "";
        position: absolute;
        height: 6.5vw;
        width: 0.05vw;
        background-color: #000000;
    }

    .box[two-subjects="true"]>div {
        flex: 1 1 0px;
    }

    .box[column="2"][row="2"] {
        font-size: 1.1vw;
    }
}